<!DOCTYPE html>
<html>
<head>
	<title>Profile | {{name}}</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <main>
     <div class="container">
         <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron ">
                  <h1 class="display-4">Hello, {{name}}!</h1>
                  <hr class="my-4">
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/accounts/logout/" role="button">Logout</a>
                  </p>
            </div>
         </div>
        </div>
     </div>
      
    </main>
    
</body>
</html>
